# Overview of ClassifierAnalysis class

In [22]:
import MLHelper
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [23]:
train = pd.read_csv("titanic/train.csv")

In [24]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
train = train.drop(['Cabin'], axis = 1)
train = train.drop(['Ticket'], axis = 1)
train = train.fillna({"Embarked": "S"})
train = train.drop(['Name'], axis = 1)

sex_mapping = {"male": 0, "female": 1}
train['Sex'] = train['Sex'].map(sex_mapping)

embarked_mapping = {"S": 1, "C": 2, "Q": 3}
train['Embarked'] = train['Embarked'].map(embarked_mapping)

train.fillna(0)

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1         0       3    0  22.0      1      0   7.2500         1
1              2         1       1    1  38.0      1      0  71.2833         2
2              3         1       3    1  26.0      0      0   7.9250         1
3              4         1       1    1  35.0      1      0  53.1000         1
4              5         0       3    0  35.0      0      0   8.0500         1
..           ...       ...     ...  ...   ...    ...    ...      ...       ...
886          887         0       2    0  27.0      0      0  13.0000         1
887          888         1       1    1  19.0      0      0  30.0000         1
888          889         0       3    1   0.0      1      2  23.4500         1
889          890         1       1    0  26.0      0      0  30.0000         2
890          891         0       3    0  32.0      0      0   7.7500         3

[891 rows x 9 columns]

In [26]:
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    0  22.0      1      0   7.2500         1
1            2         1       1    1  38.0      1      0  71.2833         2
2            3         1       3    1  26.0      0      0   7.9250         1
3            4         1       1    1  35.0      1      0  53.1000         1
4            5         0       3    0  35.0      0      0   8.0500         1

In [27]:
target = 'Survived'
y = train[target]
X = train.copy()
del X[target]

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [30]:
clf = RandomForestClassifier(n_estimators=100, max_depth=9, random_state=42)
clf.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').